@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Montserrat:wght@600;700&family=Merriweather:wght@700&family=Roboto+Slab:wght@500&family=Poppins:wght@500&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');

/* main settings */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #C0392B;

    --first-color: #F2F2F2;
    --second-color: #333333;
    --third-color: #E74C3C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
}

/* setting of the container */
div.container {
    margin: 0 160px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
}

/* start the adds section */
.adds {
    height: 350px;
    margin-top: 15px;
}

.adds .container {
    background-color: var(--first-color);
    height: 100%;
}
/* end the adds section */

/* starts the products section */
.products-to-show {
    height: 200px;
    width: 100%;
    padding: 1.5rem 0;
}

.products-to-show .container {
    height: 100%;
}

.products-to-show .container a {
    height: 150px;
    grid-column: span 2;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.products-to-show .container a i {
    font-size: 80px;
    color: var(--secondary-color);
}
/* end the products section */

/* start the flash message */
.flash-message {
    padding: 10px;
    margin: 112px 0;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;

}

.hidden {
    display: none;
}
/* end the flash message */
.swiper-wrapper {
    max-width: max-content;
}
.swiper-container{
    overflow: hidden;
    grid-column: 1 / 13;
}
.swiper-slide {
    position: relative;
    height: 200px;
    width: 200px;
    max-width: 200px;
    overflow-x: hidden;
    background-color: var(--third-color);
}


.swiper-button-next,
.swiper-button-prev {
    color: var(--secondary-color);
}
