 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ztech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/p-main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopping-cart.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
</head>
<body>
    <header class="main-header">
        <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Photo">
        </div>
        <div class="nav-container">
            {% if loggedin %}
            <button class="logout">Logout</button>
            {% else %}
            <button onclick="location.href='{{ url_for('auth.login') }}'">Login</button>
            {% endif %}
            <button onclick="location.href='{{ url_for('auth.signup') }}'">Sign Up</button>
            <button onclick="location.href='{{ url_for('homePage') }}'">Build</button>
        </div>
        </div>
    </header>
    <div class="sub-header">
    <div class="container">
        <button onclick="location.href = '{{ url_for('homePage')}}'" class="home-page-btn">Home</button>
        <button onclick="location.href = '{{ url_for('lt_page') }}'">Laptop</button>
        <button onclick="location.href = '{{ url_for('apple') }}'">Apple</button>
        <button onclick="location.href = '{{ url_for('accessory')}}'">Accesories</button>
        <button onclick="location.href = ' {{ url_for('pro')}}'">Proffissions</button>
    </div>
    </div>
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="adds">
        <div class="container">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="" alt="Product 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 3">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 4">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 5">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 6">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 7">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 8">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 9">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 10">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 11">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 12">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 13">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 14">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 15">
                    </div>
                    <div class="swiper-slide">
                        <img src="" alt="Product 16">
                    </div>
                    <!-- Add more slides as needed -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="products-to-show">
    <div class="container">
        <a class="product-one" href="{{ url_for('apple')}}">
            <i class="fa-brands fa-apple apple"></i>
        </a>
        <a class="product-two" href="{{ url_for('accessory')}}">
            <i class="fa-solid fa-computer"></i>
        </a>
        <a class="product-three" href="{{ url_for('accessory')}}">
            <i class="fa-solid fa-computer-mouse"></i>
        </a>
        <a class="product-four" href="{{ url_for('lt_page')}}">
            <i class="fa-solid fa-laptop"></i>
        </a>
        <a class="product-five" href="{{ url_for('apple_dt')}}">
            <i class="fa-solid fa-tv"></i>
        </a>
        <a class="product-six" href="{{ url_for('apple_dt')}}">
            <i class="fa-solid fa-question"></i>
        </a>
     </div>
    </div>
    <a href="{{ url_for('shopping_cart')}}" class="basket-circul">
        <i class="fa-solid fa-cart-shopping"></i>
        <p>0</p>
    </a>
</section>
<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>Learn more about Ztech and our mission to provide the best PC and laptop components.</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/laptops">Products</a></li>
          <li><a href="https://www.linkedin.com/in/ziad-adham/">Contact Us</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <a href="https://www.facebook.com/ziad.adham.714/">Facebook</a> | <a href="https://x.com/ZiadAdham2002">Twitter</a> | <a href="https://www.linkedin.com/in/ziad-adham/">Linkedin</a>
      </div>
    </div>
  </footer>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/laptop.js')}}"></script>
    <script src="{{ url_for('static', filename='js/flashed-messages.js')}}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
        dynamicBullets: false,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
    },
    loopedSlides: 3,
    loop: false,
});
    </script>
</body>
</html>