<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ztech</title>
    <link rel="stylesheet" href="p-main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main-header">
        <div class="container">
        <div class="logo-container">
            <img src="/Untitled_logo_1_free-file (3).jpg" alt="">
        </div>
        <div class="nav-container">
            <button>Build</button>
            <button>Help</button>
            <button>Login</button>
        </div>
        </div>
    </header>
    <div class="sub-header">
    <div class="container">
        <button>Products</button>
        <button>Laptop</button>
        <button>PC</button>
        <button>Accesories</button>
        <button>Proffissions</button>
    </div>
    </div>
    <div class="adds">
    <div class="container">
        
    </div>
    </div>
    <div class="products-to-show">
    <div class="container">
        <div class="product-one">
            <i class="fa-brands fa-apple apple"></i>
        </div>
        <div class="product-two">
            <i class="fa-solid fa-computer"></i>
        </div>
        <div class="product-three">
            <i class="fa-solid fa-computer-mouse"></i>
        </div>
        <div class="product-four">
            <i class="fa-solid fa-memory"></i>
        </div>
        <div class="product-five">
            <i class="fa-solid fa-tv"></i>
        </div>
        <div class="product-six">
            <i class="fa-solid fa-question"></i>
        </div>
     </div>
    </div>
</body>
</html>