<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashec-messages.css')}}">
</head>
<body>
    <header class="main-header">
        <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Photo">
        </div>
        <div class="nav-container">
            <button onclick="location.href='{{ url_for('auth.login') }}'">Login</button>
            <button onclick="location.href='{{ url_for('auth.signup') }}'">Sign Up</button>
            <button onclick="location.href='{{ url_for('homePage') }}'">Build</button>
        </div>
        </div>
    </header>
    <div class="sub-header">
    <div class="container">
        <button onclick="location.href = '{{ url_for('homePage')}}'" class="home-page-btn">Home</button>
        <button onclick="location.href='{{ url_for('lt_page') }}'">Laptop</button>
        <button onclick="location.href='{{ url_for('apple') }}'">Apple</button>
        <button onclick="location.href='{{ url_for('accessory')}}'">Accesories</button>
        <button>Proffissions</button>
    </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="register-container">
        <h2>Log In</h2>
        <form class="register-form" action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username" required autocomplete="username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password" required autocomplete="current-password">

            <button type="submit">Log In</button>
        </form>
    </div>
   </div>
   <script src="{{ url_for('static', filename='js/login.js')}}"></script>

</body>
</html>
